* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label,
input {
  font-family: system-ui, sans-serif;
  display: block;
}

body {
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
  display: flex;
}

.img {
  display: block;
  height: 100%;
  width: auto;
}

.left-container {
  position: relative;
}

.opaque {
  display: flex;
  background-color: #000;
  opacity: 0.7;
  position: absolute;
  top: 30%;
  width: 100%;
  justify-content: center;
}
.logo {
  height: 8rem;
}
.brand {
  color: #fff;
  font-family: norse, sans-serif;
  font-size: 6rem;
  line-height: 8rem;
}

.right-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.slogan {
  font-size: 2rem;
  padding: 36px 72px;
}

form {
  background-color: #fff;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.white {
  background-color: #fff;
}

button {
  width: max-content;
  margin-top: 36px;
  margin-left: 72px;
  background-color: #596d48;
  padding: 16px 64px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 16px;
  border: none;
}

.bg-green {
  color: #596d48;
}

.error {
  border: 1px solid #f00;
}

input {
  min-width: 300px;
  border: 1px solid #e5e7eb;
  margin-bottom: 16px;
}

input:focus {
  border: 1px solid #00f;
}

label {
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.gray-bg {
  background-color: #eee;
}

fieldset {
  border: none;
  padding-left: 72px;
}

.shadow {
  box-shadow: 0px 3px 10px grey;
  z-index: 999;
}
